<html>
<head>

	<title th:text="${titulo}"></title>
</head>

	<div th:replace="header :: header" style="background: red; padding: 0.5em"></div>

	<div style="min-height: 80vh; max-width: 1200px; margin: auto; padding-top: 2em;">
		<table style="width: 100%; text-align: center">
			<thead>
				<th style="width: 10%">#</th>
				<th style="width: 30%">DNI</th>
				<th style="width: 30%">Nombre</th>
				<th style="width: 30%">Apellido</th>
			</thead>
			<tbody>
					<tr th:if="${clients.empty}">
						<td colspan="4" style="text-align:center"> No se han encontrado ningun cliente </td>
					</tr>
					
					<tr th:each="client: ${clients}">
						<td><span th:text="${client.id}"></span></td>
						<td><span th:text="${client.vat}"></span></td>
						<td><span th:text="${client.name}"></span></td>
						<td><span th:text="${client.lastname}"></span></td>
					</tr>
			</tbody>
		</table>
		
	</div>

	<div th:replace="footer :: footer"></div>
</html>